html {
	margin: 25px;
	background-color: #343434;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #222;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #aaaaaa;
}
